nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  width: 100%;
  height: 10%;

  background-color: rgba(110, 197, 255, 0.521);
}

.container-nav {
  display: flex;
  align-self: flex-end;
  font-size: 2rem;
  gap: 3rem;
  font-weight: 600;
}

.container-nav span {
  cursor: pointer;
}

.container-nav span:hover {
  color: rgb(214, 214, 214);
}
.title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1.8rem;

}

@media (max-width:1080px) {
  nav{
    position: relative;
  }
  .title{
    display:none;
  }
  
}
